/* GENERAL ****************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}



/* TYPOGRAPHY *************************************************************** */

html {
    color: white;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'Flamenco', sans-serif;
    font-weight: normal;
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    html {
        font-size: calc(16px + (20 - 16) * (100vw - 600px) / (900 - 600));
    }

    h1 {
        font-size: calc(40px + (70 - 40) * (100vw - 600px) / (900 - 600));
        margin-top: calc(32px + (100 - 32) * (100vw - 600px) / (900 - 600));
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
}

p {
    line-height: 1.5rem;
    margin-top: 3rem;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

a {
    color: white;
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

a:hover {
    color: grey;
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}



/* LAYOUT ****************************************************************** */

body {
    background: black;
    min-height: 100vh;
    padding-right: 20rem;
}

.slideshow {
    font-size: 0;
    height: 100vh;
    overflow: hidden;
    padding-right: 3rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 20rem;
}

img {
    position: relative;
    padding-bottom: 6rem;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    body {
        padding-right: 0;
    }

    .slideshow {
        height: 25rem;
        margin-top: 3rem;
        width: 100vw;
        padding-right: 0;
        position: initial;
    }

    img {
        min-height: 100%;
    }
}

header, main, footer {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem; 
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    header, main, footer {
        margin-left: calc(32px + (100 - 32) * (100vw - 600px) / (900 - 600));
        margin-right: calc(48px + (100 - 48) * (100vw - 600px) / (900 - 600));
        margin-top: calc(32px + (60 - 32) * (100vw - 600px) / (900 - 600));
    }
}

@media only screen and (max-width: 600px) {
    header, main, footer {
        margin-left: 2rem;
        margin-right: 3rem;
        margin-top: 2rem; 
    }
}

footer a {
    color: grey;
    display: block;
    font-size: 0.8rem;
    padding-bottom: 2rem;
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

footer a:hover {
    color: white;
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}