/* GENERAL ****************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}



/* TYPOGRAPHY *************************************************************** */

html {
    color: hsla(0, 0%, 0%, 0.85);
    font-size: 20px;
}

h1 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: normal;
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    html {
        font-size: calc(16px + (20 - 16) * (100vw - 600px) / (900 - 600));
    }

    h1 {
        font-size: calc(40px + (70 - 40) * (100vw - 600px) / (900 - 600));
        margin-top: calc(32px + (100 - 32) * (100vw - 600px) / (900 - 600));
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
}

p {
    line-height: 1.5rem;
    margin-top: 3rem;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

a {
    color: hsla(0, 0%, 0%, 0.5);
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

a:hover {
    color: hsla(0, 0%, 0%, 0.9);
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}



/* LAYOUT ****************************************************************** */

body {
    background: white;
    min-height: 100vh;
}

header, main, footer {
    margin-left: 9rem;
    margin-right: 9rem;
    margin-bottom: 3rem; 
}

footer {
    margin-top: 6rem;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    header, main, footer {
        margin-left: calc(32px + (180 - 32) * (100vw - 600px) / (900 - 600));
        margin-right: calc(48px + (180 - 48) * (100vw - 600px) / (900 - 600));
        margin-bottom: calc(32px + (60 - 32) * (100vw - 600px) / (900 - 600));
    }
}

@media only screen and (max-width: 600px) {
    header, main, footer {
        margin-left: 2rem;
        margin-right: 3rem;
        margin-bottom: 2rem; 
    }
}

footer a {
    display: block;
    font-size: 0.8rem;
    padding-bottom: 2rem;
}